body{
    margin: 0;
    background-color: rgb(63, 0, 107);
    /* display: flex; */
}

.page-body{
    display: flex;
}

header{
    background-color: white;
    /* border: 1px solid black; */
    /*position: fixed;*/ /* if we want the nav bar to stay at the top of the page fixed */
    /* position: absolute; */
    position: relative;
    height: 70px;
    /* width: 100vw;  335546456*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
}
.nav-bar > ul{
    list-style: none;
    display: flex;
    margin-right: 20px;
    
}
.nav-bar > ul > li{
    padding: 10px;
    
}
.nav-bar > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 1rem;     
       
}
.logo{
    object-fit: contain;
    height: 30px;
    margin-left: 10px;
    margin-right: auto;
}


footer{
    background-color: rgb(106, 106, 106);
    text-align: center;
    padding: 10px 0px;
    /*position: fixed;*/ /* if we want the footer to stay at the bottom of the page fixed */
    /* bottom: 0; */
    position: relative;
    bottom: 0;
    /* width: 100vw;*/
    height: 24px;
}
footer > span{
    color: white;
    font-size: 1rem;
}


.side-menu{
    margin: 0;
    padding-top: 12vh;
    padding-bottom: 4vh;
    /* background-color: rgb(4, 13, 73); */
    color: white;
    width: 20vw;
    /* height: 100vh; */
}
.side-menu > ul{
    justify-content: center;
    padding-left: 2vw;
    /* position: fixed; */ /* if we want the side menu to be in one place */
    position: relative;
}
.side-menu > ul > li{
    list-style: none;
    margin: 5vh 0px;
}
.side-menu > ul > li > a{
    color: white;
    text-decoration: none;
}



.section-1{
    margin: 0;
    /* margin-top: 80px; */
    background-color: white;
    height: auto;
    width: 90vw;
    /* border: 1px solid black; */
    padding-bottom: 40px;
}
.image-box{
    height: 15vw;
    width: 25vw;
    background-color: beige;
    border: 1px solid black;

}
.image-field{
    display: flex;
    justify-content: center;
    /* gap: 5vw; */
    padding-top: 10px;
}
.content-text{
    padding-left: 10px;
}

hr{
    margin: 0;
    height: 2px;
    border: 2px;
}