body{
    margin: 0;
}
.card{
    margin: 0;
    height: 100vh;
}
.card > h1 {
    font-size: 5rem;
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);

    margin: 0;
}

.card1{
    background-color: white;
}
.card2{
    background-color: lightskyblue;
}
.card3{
    background-color: grey;
}
.card4{
    background-color: rgb(205, 64, 3);
}


.card-header{
    padding: 10px 10px;
    position: sticky;
    top: 0vh;
}
.card-header > h3{
    margin: 0;
    color: white;
}

.card-header1{
    background-color: red;
}
.card-header2{
    background-color: rgb(7, 75, 117);
}
.card-header3{
    background-color: rgb(52, 52, 52);
}
.card-header4{
    background-color: rgb(84, 9, 9);
}